<a href="https://colab.research.google.com/github/Xialu0803/255-SFbike-data/blob/main/rc_MLP%26%26dtr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, median_absolute_error
import io

In [2]:
from google.colab import files
uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded['mv.csv']))

Saving mv.csv to mv (1).csv

In [3]:
df.head()

   Unnamed: 0  trips  total_docks  ...  Rain  Rain-Thunderstorm  weekend
0           2     10           91  ...     0                  0        0
1           7     18           91  ...     0                  0        0
2          10     22           91  ...     0                  0        1
3          17     14           91  ...     0                  0        1
4          22      9           91  ...     0                  0        0

[5 rows x 33 columns]

In [4]:
df.shape

(722, 33)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722 entries, 0 to 721
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      722 non-null    int64
 1   trips                           722 non-null    int64
 2   total_docks                     722 non-null    int64
 3   year                            722 non-null    int64
 4   month                           722 non-null    int64
 5   weekday                         722 non-null    int64
 6   max_temperature_f               722 non-null    float64
 7   mean_temperature_f              722 non-null    float64
 8   min_temperature_f               722 non-null    float64
 9   max_dew_point_f                 722 non-null    float64
 10  mean_dew_point_f                722 non-null    float64
 11  min_dew_point_f                 722 non-null    float64
 12  max_humidity                    722 non-null    float64
 13  mean_humidity                   722 non-null    float64
 14  min_humidity                    722 non-null    float64
 15  max_sea_level_pressure_inches   722 non-null    float64
 16  mean_sea_level_pressure_inches  722 non-null    float64
 17  min_sea_level_pressure_inches   722 non-null    float64
 18  max_visibility_miles            722 non-null    float64
 19  mean_visibility_miles           722 non-null    float64
 20  min_visibility_miles            722 non-null    float64
 21  max_wind_Speed_mph              722 non-null    float64
 22  mean_wind_speed_mph             722 non-null    float64
 23  max_gust_speed_mph              722 non-null    float64
 24  precipitation_inches            722 non-null    float64
 25  cloud_cover                     722 non-null    float64
 26  wind_dir_degrees                722 non-null    float64
 27  Fog                             722 non-null    int64
 28  Fog-Rain                        722 non-null    int64
 29  Normal                          722 non-null    int64
 30  Rain                            722 non-null    int64
 31  Rain-Thunderstorm               722 non-null    int64
 32  weekend                         722 non-null    int64
dtypes: float64(21), int64(12)
memory usage: 186.3 KB

In [6]:
labels = df.trips
train = df.drop(['trips'], 1)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(train, labels, test_size=0.2, random_state = 2)

def scoring(clf):
    scores = cross_val_score(clf, X_train, y_train, cv=15, n_jobs=1, scoring = 'neg_median_absolute_error')
    print (np.median(scores) * -1)

In [8]:
dtr = DecisionTreeRegressor(min_samples_leaf = 4,
                            max_depth = 32,
                            random_state = 2)
dtr.fit(X_train, y_train)
scoring(dtr)

5.4

In [9]:
dtr_preds = dtr.predict(X_test)

In [10]:
regr = MLPRegressor(random_state=1, max_iter=2000).fit(X_train, y_train)
scoring(regr)

6.131049638813543

In [11]:
regr_preds = regr.predict(X_test)

In [12]:
print(f'median_absolute_error of decision tree regressor: {median_absolute_error(y_test, dtr_preds)}')
print(f'median_absolute_error of mlp regressor: {median_absolute_error(y_test, regr_preds)}')

median_absolute_error of decision tree regressor: 5.0
median_absolute_error of mlp regressor: 6.536415288337572