<a href="https://colab.research.google.com/github/Xialu0803/255-SFbike-data/blob/main/rc_MLP%26%26dtr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, median_absolute_error
import io

In [55]:
from google.colab import files
uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded['pa.csv']))

Saving pa.csv to pa (1).csv

In [56]:
df.head()

   Unnamed: 0  trips  total_docks  ...  Rain  Rain-Thunderstorm  weekend
0           4     19           75  ...     0                  0        0
1           9      9           75  ...     0                  0        0
2          13     16           75  ...     0                  0        1
3          19      7           75  ...     0                  0        1
4          24      4           75  ...     0                  0        0

[5 rows x 33 columns]

In [57]:
df.shape

(644, 33)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644 entries, 0 to 643
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      644 non-null    int64
 1   trips                           644 non-null    int64
 2   total_docks                     644 non-null    int64
 3   year                            644 non-null    int64
 4   month                           644 non-null    int64
 5   weekday                         644 non-null    int64
 6   max_temperature_f               644 non-null    float64
 7   mean_temperature_f              644 non-null    float64
 8   min_temperature_f               644 non-null    float64
 9   max_dew_point_f                 644 non-null    float64
 10  mean_dew_point_f                644 non-null    float64
 11  min_dew_point_f                 644 non-null    float64
 12  max_humidity                    644 non-null    float64
 13  mean_humidity                   644 non-null    float64
 14  min_humidity                    644 non-null    float64
 15  max_sea_level_pressure_inches   644 non-null    float64
 16  mean_sea_level_pressure_inches  644 non-null    float64
 17  min_sea_level_pressure_inches   644 non-null    float64
 18  max_visibility_miles            644 non-null    float64
 19  mean_visibility_miles           644 non-null    float64
 20  min_visibility_miles            644 non-null    float64
 21  max_wind_Speed_mph              644 non-null    float64
 22  mean_wind_speed_mph             644 non-null    float64
 23  max_gust_speed_mph              644 non-null    float64
 24  precipitation_inches            644 non-null    float64
 25  cloud_cover                     644 non-null    float64
 26  wind_dir_degrees                644 non-null    float64
 27  Fog                             644 non-null    int64
 28  Fog-Rain                        644 non-null    int64
 29  Normal                          644 non-null    int64
 30  Rain                            644 non-null    int64
 31  Rain-Thunderstorm               644 non-null    int64
 32  weekend                         644 non-null    int64
dtypes: float64(21), int64(12)
memory usage: 166.2 KB

In [59]:
labels = df.trips
train = df.drop(['trips'], 1)

In [60]:
X_train, X_test, y_train, y_test = train_test_split(train, labels, test_size=0.2, random_state = 2)

def scoring(clf):
    scores = cross_val_score(clf, X_train, y_train, cv=15, n_jobs=1, scoring = 'neg_median_absolute_error')
    print (np.median(scores) * -1)

In [61]:
dtr = DecisionTreeRegressor(min_samples_leaf = 4,
                            max_depth = 32,
                            random_state = 2)
dtr.fit(X_train, y_train)
scoring(dtr)

3.166666666666667

In [63]:
dtr_preds = dtr.predict(X_test)

In [64]:
regr = MLPRegressor(random_state=1, max_iter=2000).fit(X_train, y_train)
scoring(regr)

2.629025753509566

In [65]:
regr_preds = regr.predict(X_test)

In [66]:
print(f'median_absolute_error of decision tree regressor: {median_absolute_error(y_test, dtr_preds)}')
print(f'median_absolute_error of mlp regressor: {median_absolute_error(y_test, regr_preds)}')

median_absolute_error of decision tree regressor: 2.75
median_absolute_error of mlp regressor: 2.225290051869865